/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/SimuIntegration
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/SimuWithoutDebug
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/ROOT_Integration_KCG613
/openETCS ArchitectureAndDesign/Work Groups/Group 2/Procedure and DMI Management/DMI_DEMO_Helge/DMI_Demo/Standalone/win32
/openETCS ArchitectureAndDesign/Work Groups/Group 2/Procedure and DMI Management/DMI_DEMO_Helge/DMI_Demo/Standalone
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/RemoteDMI_KCG64
/model/Scade/System/OBU_PreIntegrations/Testbench_Integration/RemoteDMI_KCG613
/model/Scade/System/OBU_PreIntegrations/Toolbox/Toolbox__DMI_KCG64
/test/EnvSim/Scade/SimulationJK
